<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Arturito</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../main.css">
      </head>
    <body>
        <div class="row justify-content-center">
            <h1 class="appname">Arturito</h1>
        </div>
        <div class="row justify-content-center">
            <p class="appdescription">Do not touch the generated browser - Minimize if you want</p>
        </div>

        <div class="row justify-content-center">
            <div class="login-content card">         
                <div class="login-form">
                    <h4>Unfollow script on!</h4>  
                        <p>Close the browser to go back</p>
                        <p>This could take a few seconds</p>
                </div>
            </div>
        </div>

        <script>
            require("./js/views")
        </script>

    </body>
</html>