html {
    display: table;
    margin: auto;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: table-cell;
    vertical-align: middle;
    background-image: url(img/background.jpg);
    background-color: #cccccc;
    text-align: center;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #455a64;
  font-weight: 400;
}
h1 {
  line-height: 40px;
  font-size: 36px;
}
h2 {
  line-height: 36px;
  font-size: 24px;
}
h3 {
  line-height: 30px;
  font-size: 21px;
}
h4 {
  line-height: 22px;
  font-size: 18px;
  color: #fbad50;
}
h5 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}
h6 {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #99abb4;
  }

.login-form {
    background: #ffffff;
    padding: 30px 30px 20px;
    border-radius: 6px;
}
.login-form h4 {
    color:  #fbad50;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.login-form .checkbox {
    color: #455a64;
}
.login-form .checkbox label {
    text-transform: none;
}
.login-form .btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    border: 0px;
}
.login-form label {
    color: #455a64;
    text-transform: capitalize;
}
.login-form label a {
    color: #fbad50;
}

.login-content {
    margin: 10px 0;
  }

.card {
    margin-bottom: 30px;
    border-radius: 4%;
}

.form-group {
    margin-bottom: 20px;
  }

  .form-control {
    height: 42px;
    border-radius: 0;
    box-shadow: none;
    border-color: #e7e7e7;
    font-family: 'Poppins', sans-serif;
  }
  .form-control:hover {
    box-shadow: none;
    border-color: #e7e7e7;
  }
  .form-control.active,
  .form-control:focus {
    box-shadow: none;
    border-color: #878787;
  }

  .text-center {
      text-align: center;
  }

  .btn {
      background-color: #fcfcfc;
      color: #fbad50;
  }

  .btn:hover {
    background-color: #fbad50;
    color: white;
  }

  .appname {
      margin-top: 30px;
      color: white;
      font-size: 55px;
  }

  .appdescription {
      color: white;
      font-size: 24px;
  }

  #cancel {
    font-size: 32px;
  }